<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="student" class="bean.Student">
		<property name="name" value="Cocowwy"></property>
		<property name="sex" value="boy"></property>
		<property name="studentNo" value="PC66715"></property>
	</bean>

	<bean id="teacher" class="bean.Teacher">
		<property name="name" value="Cocowwy"></property>
		<property name="teacherNo" value="PC66715"></property>
	</bean>
</beans>